@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    bool ok = (bool)ViewData["ok"];
}

<div class="card card-body">
    @DateTime.Now
    <br />
    <br />
    Status: OK
    <br />
    @if(ok)
    {
        <div class="alert alert-success" role="alert">
            Pripojeni do DB probehlo bez problemu
        </div>
    } else
    {
        <div class="alert alert-danger" role="alert">
            Nepodarilo se pripojit do DB
        </div>
    }
</div>
